<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>Filter1</filter-name>
  	<display-name>Filter1</display-name>
  	<description></description>
  	<filter-class>p3.Filter1</filter-class>
  </filter>
  <filter>
  	<filter-name>Filter2</filter-name>
  	<display-name>Filter2</display-name>
  	<description></description>
  	<filter-class>p3.Filter1</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>Filter1</filter-name>
  	<url-pattern>/Filter1</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>Filter2</filter-name>
  	<url-pattern>/Filter1</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>Filter2</filter-name>
  	<servlet-name>CookieServlet</servlet-name>
  </filter-mapping>
  <servlet>
  	<servlet-name>Addtwonum</servlet-name>
  	<display-name>Addtwonum</display-name>
  	<description></description>
  	<servlet-class>p1.Addtwonum</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addcontroller</servlet-name>
  	<display-name>Addcontroller</display-name>
  	<description></description>
  	<servlet-class>p2.Addcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Studentcontroller</servlet-name>
  	<display-name>Studentcontroller</display-name>
  	<description></description>
  	<servlet-class>p2.Studentcontroller</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SessionServlet</servlet-name>
  	<display-name>SessionServlet</display-name>
  	<description></description>
  	<servlet-class>p3.SessionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CookieServlet</servlet-name>
  	<display-name>CookieServlet</display-name>
  	<description></description>
  	<servlet-class>p3.CookieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>p4.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AsynchronousServlet</servlet-name>
  	<display-name>AsynchronousServlet</display-name>
  	<description></description>
  	<servlet-class>p4.AsynchronousServlet</servlet-class>
  	<async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Addtwonum</servlet-name>
  	<url-pattern>/Addtwonum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addcontroller</servlet-name>
  	<url-pattern>/Addcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Studentcontroller</servlet-name>
  	<url-pattern>/Studentcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SessionServlet</servlet-name>
  	<url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CookieServlet</servlet-name>
  	<url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AsynchronousServlet</servlet-name>
  	<url-pattern>/AsynchronousServlet</url-pattern>
  </servlet-mapping>
</web-app>
