<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Addtwonum</servlet-name>
  	<display-name>Addtwonum</display-name>
  	<description></description>
  	<servlet-class>p1.Addtwonum</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addcontroller</servlet-name>
  	<display-name>Addcontroller</display-name>
  	<description></description>
  	<servlet-class>p2.Addcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Addtwonum</servlet-name>
  	<url-pattern>/Addtwonum</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addcontroller</servlet-name>
  	<url-pattern>/Addcontroller</url-pattern>
  </servlet-mapping>
</web-app>
