*{
	padding: 0px;
	margin: 0px;
}

.container1{
	height: 300px;
	padding: 6px;
	justify-content: center;
	align-items: center;
	&:hover{
		transform: scale(1.2);
	}
}

.container0{
	display: flex;
	flex-direction:row;
	margin-bottom: 6px;
}