.logincontainer{
    display: flex;
    margin-left: 20vw;
    margin-top: 3vh;
    width: 50%;
    height: auto;
    background-color: azure;
    border: 2px;
    flex-direction: column;
    justify-items: left;
    padding: 15px;
    font-size: 12px;

}
.gap{
    margin-bottom: 5px;
}